<nav class="italic bold">
    <ul class="py-12 text-center text-2xl flex flex-col gap-4 ">
        <li><a href='{{ "/" | relURL }}' class="text-ochsenkofler-primary">Willkommen</a></li>
        <li><a href='{{ "wohnungen/" | relURL }}' class="hover:text-ochsenkofler-primary">Wohnungen & Preise</a>
        </li>
        <li><a href="#" class="hover:text-ochsenkofler-primary">Anfrage & Kontakt</a></li>
        <li><a href="#" class="hover:text-ochsenkofler-primary">Umgebung</a></li>
        <li><a href="#" class="hover:text-ochsenkofler-primary">Über uns</a></li>
        <li>
            <a href="#" class="hover:text-ochsenkofler-primary">de</a>
            |
            <a class="hover:text-ochsenkofler-primary" href="#">it</a>
        </li>
    </ul>
</nav>